.zhopa {
  /* background-color: rebeccapurple; */
  /* display: block; */
}

.zhopa2 {
  /* background-color: silver; */
  /* width: 100%; */
}

.caption {
  /* background-color: green; */
  align-items: baseline;
  width: 100%;
}

.main-title {
  font-family: 'BebasNeue', Arial, serif;
  color: red;
  font-size: 6rem;
  font-weight: 700;
  /* -webkit-text-stroke: 0.02em yellow; */
}

.version {
  /* background-color: green; */
  color: gray;
  font-size: small;
  font-weight: 300;
}

.disclaimer {
  font-family: 'JosefinSans', Arial, serif;
  flex-wrap: wrap;
  font-size: 1.2rem;
  /* background-color: red; */
  /* width: 40%; */
}

.wontopia {
  color: red;
  font-weight: 600;
}